.main {
  background-color: #404040;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  color: #cecece;
}

.main img {
  width: 200px;
}

.main span {
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .main {
    display: none;
  }
}
